{% extends 'base.html' %}
{% load rest_framework %}
{% block title_block %} Document | detail {% endblock %}

{% block body %}

<style>
    .content-box {
        max-width: 800px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: justify;
    }
</style>

<div class="container">
    <div class="content-box mt-4">
        <h1 class="text-center">{{ data.title }}</h1>
        <div class="content-box">
            <form action="{% url 'docspage-detail' pk=data.id %}" method="get" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <strong>Date added:</strong> {{ data.date_added }}<br>
                        <strong>Author:</strong> {{ data.author }}<br>
                        <strong>Course:</strong> {{ data.course }}<br>
                        <strong>Summary:</strong> {{ data.summary | default_if_none:"" }}<br>
                    </div>
                    <div class="col-md-6">
                        <article class="gallery-wrap">
                            <div class="text-center">
                                <a href="{{ data.attachment }}" class="btn btn-primary">View File Here</a>
                            </div>
                        </article>
                    </div>
                     </div>

            </div>
                    <div class="col-md-12 d-flex justify-content-center">
                    {% if is_author %}
                <a href="{% url 'docspage-update' pk=data.id %}" class="btn btn-lg btn-success">Update</a>
                {% endif %}
            </form>
                {% if is_author %}
                <form action="{% url 'docspage-delete' pk=data.id %}" method="post" novalidate>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-lg btn-danger">Delete</button>
                </form>
                {% endif %}

        </div>
    </div>
</div>


{% endblock %}