{% extends 'base.html' %}
{% load rest_framework %}
{% block title_block %} Log In Page {% endblock %}

{% block body %}
<style>
    .content-box {
        max-width: 600px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: justify;
    }

    .topic {
        text-align: center;
        color: RGB(26, 161, 184);
        text-decoration: none;
    }
</style>


<div class="content-box">
    <h1 style="text-align: center">Create Event</h1>
    <form method="GET">
        {% csrf_token %}
        {{form.as_p}}
        <div style="text-align: center">
            <button type="submit" class="btn btn-sm btn-success">Create</button>
        </div>
    </form>
</div>


<div class="content-box">
    <h1 style="text-align: center">Events</h1>
    <form action="{% url 'eventpage' %}" method="get" novalidate>
        {% for each in events %}

        <div class="content-box">
            <div class="topic">
                <b>
                    <a href="{% url 'eventpage' pk=each.id %}" style="color: inherit">
                        {{ each.name | upper }}
                    </a>
                </b>
            </div>

            <strong>Organizer:</strong> {{ each.organizer.first_name }} {{ each.organizer.last_name }}<br>
            <strong>Date:</strong> {{ each.date }}<br>
            <strong>Guests:</strong> {{ each.guests | length }}<br>
        </div>
        {% endfor %}
    </form>
</div>
{% endblock %}