{% extends 'base.html' %}
{% load rest_framework %}
{% block title_block %} Log In Page {% endblock %}

{% block body %}

<style>
    .content-box {
        max-width: 800px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: justify;
    }
</style>

<div class="container">
    <div class="content-box mt-4">
        <h1 class="text-center">{{ data.name }}</h1>
        <div class="content-box">
            <form action="{% url 'eventpage-detail' pk=data.id %}" method="get" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <strong>Organizer:</strong> {{ data.organizer.first_name }} {{ data.organizer.last_name }}<br>
                        <strong>Guests:</strong> {{ data.guests|length }}<br>
                        <strong>Tags:</strong> {% for tag in data.tags %} {{ tag.name }} {% endfor %}<br>
                        <strong>Date:</strong> {{ data.date }}<br>
                        <strong>Notes:</strong> {{ data.notes }}<br>
                    </div>
                    <div class="col-md-6">
                        <article class="gallery-wrap">
                            <div class="text-center">
                                <a href="#"><img src="{{ data.attachment }}" class="img-fluid"
                                                 style="max-width: 300px;"></a>
                            </div>
                        </article>
                    </div>
                <a href="{% url 'eventpage-update' pk=data.id %}" class="btn btn-sm btn-success">Update</a>
            </form>
                {% if request.user.id == data.organizer.id %}
                <form action="{% url 'eventpage-delete' pk=data.id %}" method="post" novalidate>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
                {% endif %}

            </div>
        </div>
    </div>
</div>


{% endblock %}